<h1>Edit Profile</h1>
<%= form_for current_user do |f| %>

  <!-- Enables flash messages within the form for superior UX -->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-notice'}" %>
  <% end %>

  <%= f.text_field :first_name, placeholder: "First Name" %><br>
  <%= f.text_field :last_name, placeholder: "Last Name" %><br>
  <%= f.text_field :user_name, placeholder: "User Name" %><br>
  <%= f.email_field :email, placeholder: "Email" %><br>
  <%= f.text_area :about, placeholder: "About Me" %><br>
  <%= f.submit "Save Profile" %>
<% end %>
