<div class="profile-page">
  <div class="jumbotron"></div>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <p><%= image_tag current_user.profile_image.url(:medium), class: "img-responsive img-rounded profile-img" %></p>
      <div class="profile-info">
        <h2><%= current_user.first_name %><%= " " %><%= current_user.last_name %></h2>
        <p>@<%= @current_user.user_name %></p>
        <p>Joined <%= @current_user.created_at.strftime("%b. %Y") %></p>
        <p><%= @current_user.about %></p>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <span class="profile-welcome">Welcome <%= current_user.first_name %>!
        <span><%= link_to "update profile", edit_user_path(current_user), class: "btn btn-primary pull-right" %></span>
    <% @maps.each do |map| %>
    <div class="map-section">
      <div class="dropdown pull-right">
        <button class="dropdown-toggle button btn btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Edit post
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Update Map", edit_map_path(map) %></li>
          <li><%= link_to "Delete", map, method: :delete %></li>
        </ul>
      </div>
      <span class="post-header"><%= map.title %></span><br>
      <hr>
      <span class="post-header">From: <span class="post-body"><%= map.from %></span><br>
      <span class="post-header">To: <span class="post-body"><%= map.to %></span><br>
      <span class="post-header">Travel Mode: <span class="post-body"><%= map.travel_mode %></span><br>
      <span class="post-header">Measurement: <span class="post-body"></h3><%= map.measurement %></span><br>
      <hr>
      <span class="post-header"><%= link_to "See Your Route", map.url %></span><br>
    </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
